requests==2.31.0
python-dotenv==1.0.0
flask==2.3.3
flask-cors==4.0.0
pytest==7.4.0
mcp[cli]>=1.2.0
httpx>=0.25.0
anyio>=4.0.0
fastapi
uvicorn
starlette
mcp[sse]>=1.2.0
